
* {
    box-sizing: border-box;
}

body {
    min-width: 720px;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: url("../assets/home.png") center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
  }
  .ancientsBlock {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 40%;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
  }
  .ancientBorder {
    border: 2px solid red;
  }
  .buttonsBlock {
    flex-wrap: wrap;
    display:flex;
    align-content: space-around;
    justify-content: space-around;
    width: 15%;
    border: 2px solid white;
    margin: 10px;
    padding: 50px 0px;
  }
  .selectModeButton {
    position: relative;
    width: 130px;
    height: 60px;
    background-color: gray;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
  .selectModeButton:hover {
    background-color: #606060;
  }
  .selectModeButton:active {
    left: 5px;
    top: 5px;
  }




  .playBlock {
    display:flex;
    flex-wrap: nowrap;
    width: 55%;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
  }
  .column {
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    border: 2px solid white;
    width: 50%;
  }
  .cardBack {
    display: none;
    width: 80%;
    height: 45%;
    cursor: pointer;
    padding-top: 50px;
    background: url("../assets/mythicCardBackground.png") center/cover;
    border: 2px solid white;
  }
  .cardPlay {
    display: none;
    width: 80%;
    height: 45%;
    /* background: url("../assets/mythicCardBackground.png") center/cover; */
    border: 2px solid white;
  }
  .stages {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    border: 2px solid white;
    height: 400px;
    width: 100%;
  }
  .textOne, .textTwo, .textThree {
    text-align: center;
    border: 2px solid white;
    height: 50px;
    width: 100%;
  }
  .stage {
    display: flex;
    wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    border: 2px solid white;
    height: 50px;
    width: 100%;
  }
  .blue1, .blue2, .blue3, .green1, .green2, .green3, .brown1, .brown2, .brown3 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 10px;
  
  }
  .blue1, .blue2, .blue3 {
    background-color: rgb(13, 13, 161);
  }
  .green1, .green2, .green3 {
    background-color: green;
  }
  .brown1, .brown2, .brown3 {
    background-color: brown;
  }
  .ancientPicture {
    display: block;
    width: 47%;
    height: 47%;
    background-size: cover;
  }